#about{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about section{
    width: 90%;
    padding: 3rem 2rem;
    margin: 1rem 0;

}
#about section h2{
    color: rgb(85, 204, 255);
    margin: 1rem 2rem;
    font-size: 50px;
}
#about section .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid white;
}
#about section .content:nth-child(even){
    flex-direction: row-reverse;
    border-right: none;
    border-left: 1px solid white;
}
#about section .content .text{
    width: 40%;
}
#about section .content img{
    width: 50%;
    margin-top: 1rem;
    border-radius: 1rem;
    transition: 3s ease-in-out;
    transform: rotateY(360deg);
}
#about .members{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 
#about .team{
    text-align: center;
    padding: 3rem 0;
}
#about .members .teammate{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
    margin: 2rem;
} 
#about .members .teammate p{
    margin: 0;
}
#about .members .teammate img{
    width: 90%;
}
@media screen and (max-width:800px){
    #about section .content{
      flex-direction: column-reverse !important;
    }
    #about section .content:nth-child(even){
        flex-direction: column !important;
    }
    #about section .content .text{
        width: 100%;
    }
    #about section .content img{
        width: 90%;
        margin-top: 1rem;
        border-radius: 1rem;
        transition: 3s ease-in-out;
        transform: rotateY(360deg);
    }
    #about .members{
        margin: 3rem 0;
    }
    #about .members .teammate{
        margin: 0;
    }
    #about .members .teammate img{
        width: 100%;
    }
}