#contact{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#contact form{
    width: 40%;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 4rem 0;
}
#contact form .field{
    width: 100%;
}
#contact form input{
    min-height: 2.5rem;
    width: 100%;
    border: 1px solid black;
    /* padding-left: 1rem; */
    text-align: center;
    border-radius: 3px;
    margin: 1rem 0;
}
#contact form button{
    background-color: rgb(85, 181, 255);
    width: 30%;
    color: white;
}
#contact form .message {
    min-height: 7rem;
}
#contact .patners{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    /* font-size: 50px; */
    color: rgba(255, 255, 255, 0.607);
    margin: 3rem 0;
}
@media screen and (max-width:800px) {
    #contact form{
        width: 80%;
    }
}