.header{
    /* padding: 2rem; */
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-position: right !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
 .header-text p{
    font-size: 100px;
    margin-left: 2rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    line-height: 1;

}
.header-image{
    clip-path: polygon(48% 0, 100% 0%, 100% 100%, 0% 100%);
    width: 70%;
    background-color: rgba(52, 52, 52, 0.184);
    height: 100%;
    backdrop-filter:   saturate(150%) sepia(40%) hue-rotate(60deg);
    display: flex;
    align-items: center;
    justify-content: end;
    /* background: linear-gradient(0deg,rgba(0, 0, 0, 0.475),rgba(0, 119, 255, 0.382)),url(../assets/images/ai.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
.header-image p{
    width: 40%;
    text-align: left;
    margin-right: 20%;
    font-size: 40px;
    /* color: rgb(193, 240, 255); */
    line-height: 1;
}
@media screen and (max-width:800px){
    .header{
        background-position: center !important;
        height: 50vh !important;
        background-attachment: scroll !important;
        flex-direction: column !important;
    }
    .header-text{
        width: 100%;
    }
    .header-text p{
        font-size: 10vw;
        width: 100%;
    }
    .header-image{
        width: 100%;
    }
    .header-image p{
        font-size: 20px;
        width: 80%;
        margin-right: 3%;
        text-align: right;
    }
}