#services{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#services .service{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem 0;
}
#services .service:nth-of-type(2){
    flex-direction: row-reverse;
}
#services .service .title{
    font-size: 50px;
    margin: 2rem 0;
    line-height: 1;
    color: rgb(85, 204, 255);
}
#services .service .desc{
    width: 90%;
}
.service-text{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#services .service img{
    width: 40%;
    /* max-height: 40vh; */
}
#services .book{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    padding: 4rem 0;
}
#services .book button{
    background-color:rgb(85, 181, 255) ;
    color: white;
    font-size: 20px;
}
@media screen and (max-width:800px) {
    #services .service{
        flex-direction: column-reverse !important;
        padding: 1rem 2rem;
    }
    #services .service img{
        width: 100%;
        border-radius: 1rem;
    }
    #services .service .title{
        text-align: center;
        font-size: 30px;
        width: 90%;
    }
    .service-text{
        width: 100%;
    }
    #services .book{
        font-size: 30px;
    }
}